@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

html, body { /* para não ter barra de navegação horizontal */
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 200px;
    background: #f78b00;
}

.cabecalho { /* abordagem responsiva */
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cabecalho-titulo {
    font-size: 24px;
    color: #00285f;
    min-height: 50px;
    text-align: center;
    margin: 2px;
}

.cabecalho .cabecalho-informacoes {
    max-width: 1000px;
    min-width: 300px;
    height: 150px;
    background: #ededed;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5); /* para funcionar no Safari */
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5); /* para funcionar no Mozilla */
    position: relative;
    z-index: 10;
    padding: 10px;
}

.cabecalho-informacoes .cabecalho-texto {
    position: absolute;
    bottom: 30%;
    left: 10%;
}

.cabecalho-informacoes .informacoes-texto h2 {
    color: #00285f;
    transform: translateX(-20px);
    transition: transform 0.5s;
}

.cabecalho-informacoes .informacoes-texto p {
    color: #00285f;
    transform: translateX(-20px);
    transition: transform 0.4s;
}

/* main */

main {
    width: 100%;
    height: 200px;
    background: #f78b00;
}

.principal {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.principal .principal-informacoes {
    max-width: 1000px;
    min-width: 300px;
    height: 150px;
    position: relative;
    z-index: 10;
    padding: 10px;
}

.principal-imagem img {
    width: 15%;
    position: absolute;
    right: 10%;
    bottom: 20%;
}

.principal-informacoes .principal-texto h2 {
    color: #00285f;
    margin-bottom: 20px;
    transform: translateX(-20px);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
}

.principal-informacoes .principal-texto p {
    color: #00285f;
    margin-bottom: 20px;
    transform: translateX(-20px);
    transition: transform 0.4s;
    display: flex;
    justify-content: center;
}

.principal-botao {
    display: flex;
    justify-content: center;
}

.principal-botao button {
    color: #00285f;
    border: 1px solid #00285f;
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.principal-botao button:hover {
    transition: background, color 0.6s;
    background: #00285f;
    color: white;
}

/* footer */

footer {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.rodape {
    width: 100%;
    height: 50px;
    background: #00285f;
    padding: 20px 10px;
}

.rodape-email {
    color: white;
    height: 100%;
    min-height: 100px;
    text-align: center;
}